<h2>Welcome, stranger! </h2>

<form action="/generator" method="post">
	<p>The very purpose of this application is to generate expressions 
		such as x * y = z for use in testing the development of Turing machines
		that recognize the word in the language or not :)</p>
  <p>How many words do you want?<br/><input type="text" name="num"/></p>
  <input type="submit" value="Ok"/>
</form>