<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en-US' xml:lang='en-US' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title><%= @title || SiteConfig[:title] %></title>
    <link href='/main.css' rel='stylesheet' type='text/css'/>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="logo">
          <h1><a href='/'><%= SiteConfig[:title] %></a></h1>
        </div>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div id="footer">
        <p id="legal">&mdash; &copy;<%= Time.now.strftime('%Y') %> <a href='http://twitter.com/filipe_mp'><%= SiteConfig[:author] %></a> &mdash;</p>
      </div>
    </div>
  </body>
</html>