<h2>Something went wrong</h2>

<form action="/generator" method="post">
  <p>You should try something bigger than one<br/><input type="text" name="num"/></p>
  <input type="submit" value="Ok"/>
</form>